<%#= form_for([@job, @bid]) do |f| %>
<% if @job.user.id != current_user.id && @job.if_completed != true && Bid.find_by(job_id:(Job.find(params[:id])), user_id: current_user.id).nil? %>
<!-- Why does
Bid.find_by(job_id:(Job.find(params[:id])), user_id: current_user.id).nil?
work and
Bid.find_by(job_id:(Job.find(params[:id])), user_id: current_user.id).user.id != current_user.id
not? -->
<%= form_for([@job, @job.bids.build]) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div>
  <%= f.number_field :amount, step: 0.01, placeholder: "Enter your bid" %>
</div>
<%= f.submit "Bid!" %>
<% end %>
<% end %>
