<%# if @job.reviews.empty? && @job.user.id != current_user.id %>
<% if job_creator?(@job) %>

    <%= form_for([@job, @job.reviews.build]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div>
      <%= f.text_area :content, placeholder: "Create new job..." %>
    </div>
    <%= f.submit "Post" %>

  <% end %>
<% end %>
